---
---

html {
    font-size: 16px;
}
body{
    margin:0;
    background-color:#F6FCFF;
    background-image: url("..//assets/background_stripes.svg");
    background-origin: content-box;
    background-position-x:0 150px; 
    background-repeat: no-repeat;
}
body,p,li{
   font-family: monotype-grotesque, sans-serif;
   font-weight: 400;

}

#first-post{
    border: 1px solid red;
}
.post-front-page{
    padding:1rem;
}
.front-page-heading{
    font-style: italic;
}
#wrapper{

    background-color: rgba(255, 255, 255, .7); 
    max-width:900px;
}
#wrapper>article>section>p{
    
    padding: 0 0 0 2rem;
    margin: 0;
    display:inline;
}
.post-header{
    font-size:1.8103rem;
    font-weight:300;
    font-style: italic;
}

p{
    font-size:1.1rem;
    text-indent: 3rem;
    padding:0;
}
#wrapper>article>h1{
    font-size:1.8103rem;
    margin-bottom: .5rem;
}
#wrapper{
    width:61.803%;
    margin-left: 3rem;
}
.post-meta{
    text-indent:0;

    margin: 0 0 1rem 0;
    padding:0;
}   
h1{
    font-size:3.5rem;
    
}
#header{
    display:flex;
    justify-content:space-between;
    width:100%;
    left:0;
}
#header>h1{
    font-family: monotype-grotesque-condensed, sans-serif;
    width:auto;
    background-color: red;
    padding:0 1rem;
}
#dynamic-button-container{
    display:flex;
    flex-flow: column nowrap;
    align-items:flex-start;
    margin: 4.45rem 1rem 0 0;
}
.dynamic-button{
    border: 1px solid black;
    color: red;
    background-color: rgba(255, 255, 255, .7);
    padding: .25rem;
    height:1.5rem;
    border-radius: 1px;
}
h1,h2,h3,h4,h5,h6{
    font-family: monotype-grotesque, sans-serif;
    font-weight: 300;
}
.post-meta{
    font-size:.85rem;
    font-weight:300;
}
#content-area{
    width: 61.803%;
    margin: 0;
    padding: 0;
}

