---
---
@mixin font_family_body() {
  font-family: 'Newsreader',sans-serif;
}
@mixin font_family_sub_heading() {
  font-family: 'Instrument Sans',sans-serif;
}
@mixin font_family_heading() {
  font-family: 'Abril Fatface',sans-serif;
}
// @mixin font_family_heading() {
//   font-family: 'Nitro A' ,'Nitro B',sans-serif;
// }

/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #444;
    color: #FFF;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #FFF;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #444;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    font-size: 16px;
}

body{
    min-height: 3000px;
    margin:0;
    background-color:#F6FCFF;
    background-image: url("..//assets/racing_stripes.svg");
    background-origin: content-box;
    background-position-x:0 150px; 
    background-repeat: repeat-y;
}

body,p,li{
   @include font_family_body;
   font-style:normal;
   font-weight: 400;
   letter-spacing: -.0625rem;

}

P em,p i{
    @include font_family_body;
    font-style: italic;
    font-weight: 400;
}
p strong,p b{
    @include font_family_body;
    font-style: normal;
    font-weight: 700;
}

h2,h3,h4,h5,h6{
    @include font_family_sub_heading;
    font-weight: 300;
    font-style:italic;
}

h1{
    font-size:3.5rem;
    font-weight: 700;
    margin: 1.5rem 0;
    
}
.front-page-heading{
    margin-bottom: .5rem;
}
h2{
    margin: 1rem 0 .5rem 0;
}
@-webkit-keyframes FADE-TO-BLACK {
  0%   { color: white;}
  100% { color: black;}
}
@-moz-keyframes FADE-TO-BLACK {
  0%   { color: white;}
  100% { color: black;}
}
@-o-keyframes FADE-TO-BLACK {
  0%   { color: white;}
  100% { color: black;}
}
@keyframes FADE-TO-BLACK {
  0%   { color: white;}
  100% { color: black;}
}
.header_anim {
    color:black;
  -webkit-animation: FADE-TO-BLACK .6831s 1; /* Safari 4+ */
  -moz-animation:    FADE-TO-BLACK .6831s 1; /* Fx 5+ */
  -o-animation:      FADE-TO-BLACK .6831s 1; /* Opera 12+ */
  animation:         FADE-TO-BLACK .6831s 1; /* IE 10+, Fx 29+ */
}
#first-post{
    border: 1px solid red;
    padding-top: 0;
}
#first-post .front-page-heading{
    margin-top: 0;
    padding-top:1.25rem;
}
.post-front-page{
    padding:1rem;
}
#wrapper{
    width:98%;
    margin-left:1.8%;
    background-color: rgba(255, 255, 255, .875); 
    max-width:900px;
}
#wrapper>article>h1{
    font-size:1.8103rem;
    margin-bottom: .5rem;
}
#wrapper>article>section>p{
    
    padding: 0 0 2rem 1rem;
    margin: 0;
    // display:inline;
}
.post-header{
    font-size:1.8103rem;
    font-weight:300;
    font-style: italic;
}

p{
    font-size:1.683rem;
    text-indent: 1.3rem;
    padding:0;
}


.post-meta{
    text-indent:0;

    margin: 0 0 1rem 0;
    padding:0;
}   

#header{
    display:flex;
    justify-content : space-between;
    width:100%;
    left:0;
}
#header > h1{
    @include font_family_heading;
    font-style: normal;
    font-weight: 400;
    line-height: .8;
    width: auto;
    background-color: red;
    padding: 2rem 3rem 2rem 1rem;
    font-size: 4.5rem;
    color: #FFF;
    margin: 1.6813rem 0 0 0;
    
}
#dynamic-button-container{
    display:flex;
    flex-flow: column nowrap;
    align-items:flex-start;
    margin: 4.45rem 1rem 0 0;
}
.dynamic-button{
    border: 2px solid red;
    color: black;
    background-color: rgba(255, 255, 255, .7);
    padding: .25rem .5rem;
    height:1.5rem;
    border-radius: 1px;
}
.dynamic-button:hover{
    border: 2px solid red;
    color: black;
    background-color: rgba(255, 0, 0, .7);
    
}

.post-link{
    font-style: italic
}
.post-meta{
    font-size:.85rem;
    font-weight:300;
}
#content-area{
    width: 61.803%;
    margin: 0;
    padding: 0;
}

#about-me-page h2{
    font-size:2.5rem;
    margin:0 0 .25rem 0;
}
.recent_work_subheader{
    text-indent:1.5rem;
    font-size:2rem;
    margin:0 0 1rem 0;
}
#about-me-page h3{
    font-size:1.8rem;
    text-indent:3rem;
    font-style: italic;
    margin:0;
}
#about-me-page p
{
    text-indent:0!important;
    margin-left:3rem;
}

.job_title_block{

    margin-left:1.5rem;
}
#skills_list{
    padding-left: 2.6rem;
}
#skills_list li{
    font-size: 1.1rem;
    padding-left: .25rem;
}
.black_slash{
    background-color: black;
    color: white;
}
.black_slash a{
    background-color: black;
    color: white;
}
.red_slash{
    // background-color:red;
    // color:white;
    font-size:2rem;
    padding:0 1rem 0 .25rem;
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
/*}
*/

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.cel-100{float:left;width:98.5%;padding:0 0.5%;margin:0;border:0.0625em solid transparent}.cel-100-box{float:left;width:98.5%;margin:0;padding:0 1.5%;border:0.0625em solid #B0B6BE}.cel-100-rule{float:left;width:98.5%;padding:0 0.5%;margin:0;border:0.0625em solid;border-color:#F8F9FF #F8F9FF #B0B6BE #F8F9FF}.cel-100-rule-top{float:left;width:98.5%;padding:0 0.5%;margin:0;border:0.0625em solid;border-color:#B0B6BE #F8F9FF #F8F9FF #F8F9FF}@media only screen and (min-width:35em){}.cel-50-a{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-50-b{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-50-a-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#F8F9FF #F8F9FF #B0B6BE #F8F9FF}.cel-50-b-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#B0B6BE #F8F9FF #F8F9FF #F8F9FF}.cel-50-a-box{float:left;width:98%;padding:0 1%;border:1px solid #B0B6BE}.cel-50-b-box{float:left;width:98%;padding:0 1%;border:1px solid #B0B6BE}@media only screen and (min-width:35em){.cel-50-a img:first-child,.cel-50-a-box img:first-child,.cel-50-a-rule img:first-child{margin-top:1.4rem}.cel-50-b img:first-child,.cel-50-b-box img:first-child,.cel-50-b-rule img:first-child{margin-top:1.4rem}.cel-50-a ul:first-child,.cel-50-a-box ul:first-child,.cel-50-a-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-50-b ul:first-child,.cel-50-b-box ul:first-child,.cel-50-b-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-50-a ol:first-child,.cel-50-a-box ol:first-child,.cel-50-a-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-50-b ol:first-child,.cel-50-b-box ol:first-child,.cel-50-b-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-50-a h2:first-child,.cel-50-a-box h2:first-child,.cel-50-a-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-50-b h2:first-child,.cel-50-b-box h2:first-child,.cel-50-b-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-50-a h3:first-child,.cel-50-a-box h3:first-child,.cel-50-a-rule h3:first-child{margin-top:0.7rem;margin-bottom:1.8rem}.cel-50-b h3:first-child,.cel-50-b-box h3:first-child,.cel-50-b-rule h3:first-child{margin-top:0.7rem;margin-bottom:1.8rem}.cel-50-a h4:first-child,.cel-50-a-box h4:first-child,.cel-50-a-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-50-b h4:first-child,.cel-50-b-box h4:first-child,.cel-50-b-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-50-a h5:first-child,.cel-50-a-box h5:first-child,.cel-50-a-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-50-b h5:first-child,.cel-50-b-box h5:first-child,.cel-50-b-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-50-a{float:left;width:48%;padding:0 0.5%;border:0.0625em solid #F8F9FF}.cel-50-b{float:right;width:48%;padding:0 0.5%;border:0.0625em solid #F8F9FF}.cel-50-a-rule{float:left;width:48%;padding:0 0.75% 0 0.75%;border:0.0625em solid;border-color:#F8F9FF #B0B6BE #F8F9FF #F8F9FF}.cel-50-b-rule{float:right;width:48%;padding:0 0.75% 0 0.75%;border:0.0625em solid;border-color:#F8F9FF #F8F9FF #F8F9FF #B0B6BE}.cel-50-a-box{float:left;width:48%;padding:0 0.75% 0 0.75%;border:0.0625em solid #B0B6BE}.cel-50-b-box{float:right;width:48%;padding:0 0.75% 0 0.75%;border:0.0625em solid #B0B6BE}}.cel-60-a{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-40-b{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-60-a-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#F8F9FF #F8F9FF #B0B6BE #F8F9FF}.cel-40-b-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#B0B6BE #F8F9FF #F8F9FF #F8F9FF}.cel-60-a-box{float:left;width:98%;padding:0 0.5%;border:1px solid #B0B6BE}.cel-40-b-box{float:left;width:98%;padding:0 0.5%;border:1px solid #B0B6BE}@media only screen and (min-width:35em){.cel-60-a img:first-child,.cel-60-a-box img:first-child,.cel-60-a-rule img:first-child{margin-top:1.4rem}.cel-40-b img:first-child,.cel-40-b-box img:first-child,.cel-40-b-rule img:first-child{margin-top:1.4rem}.cel-60-a ul:first-child,.cel-60-a-box ul:first-child,.cel-60-a-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-40-b ul:first-child,.cel-40-b-box ul:first-child,.cel-40-b-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-60-a ol:first-child,.cel-60-a-box ol:first-child,.cel-60-a-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-40-b ol:first-child,.cel-40-b-box ol:first-child,.cel-40-b-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-60-a h2:first-child,.cel-60-a-box h2:first-child,.cel-60-a-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-40-b h2:first-child,.cel-40-b-box h2:first-child,.cel-40-b-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-60-a h3:first-child,.cel-60-a-box h3:first-child,.cel-60-a-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-40-b h3:first-child,.cel-40-b-box h3:first-child,.cel-40-b-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-60-a h4:first-child,.cel-60-a-box h4:first-child,.cel-60-a-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-40-b h4:first-child,.cel-40-b-box h4:first-child,.cel-40-b-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-60-a h5:first-child,.cel-60-a-box h5:first-child,.cel-60-a-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-40-b h5:first-child,.cel-40-b-box h5:first-child,.cel-40-b-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-60-a{float:left;width:61%;padding:0 0.5%;border:0.0625em solid #F8F9FF}.cel-40-b{float:right;width:35%;padding:0 0.5%;border:0.0625em solid #F8F9FF}.cel-60-a-rule{float:left;width:61%;padding:0 0.5%;border:0.0625em solid;border-color:#F8F9FF #B0B6BE #F8F9FF #F8F9FF}.cel-40-b-rule{float:right;width:35%;padding:0 0.5%;border:0.0625em solid;border-color:#F8F9FF #F8F9FF #F8F9FF #B0B6BE}.cel-60-a-box{float:left;width:61%;padding:0 0.5%;border:0.0625em solid #B0B6BE}.cel-40-b-box{float:right;width:35%;padding:0 0.5%;border:0.0625em solid #B0B6BE}}.cel-40-a{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-60-b{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-40-a-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#F8F9FF #F8F9FF #B0B6BE #F8F9FF}.cel-60-b-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#B0B6BE #F8F9FF #F8F9FF #F8F9FF}.cel-40-a-box{float:left;width:98%;padding:0 1%;border:1px solid #B0B6BE}.cel-60-b-box{float:right;width:98%;padding:0 1%;border:1px solid #B0B6BE}@media only screen and (min-width:35em){.cel-40-a img:first-child,.cel-40-a-box img:first-child,.cel-40-a-rule img:first-child{margin-top:1.4rem}.cel-60-b img:first-child,.cel-60-b-box img:first-child,.cel-60-b-rule img:first-child{margin-top:1.4rem}.cel-40-a ul:first-child,.cel-40-a-box ul:first-child,.cel-40-a-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-60-b ul:first-child,.cel-60-b-box ul:first-child,.cel-60-b-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-40-a ol:first-child,.cel-40-a-box ol:first-child,.cel-40-a-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-60-b ol:first-child,.cel-60-b-box ol:first-child,.cel-60-b-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-40-a h2:first-child,.cel-40-a-box h2:first-child,.cel-40-a-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-60-b h2:first-child,.cel-60-b-box h2:first-child,.cel-60-b-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-40-a h3:first-child,.cel-40-a-box h3:first-child,.cel-40-a-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-60-b h3:first-child,.cel-60-b-box h3:first-child,.cel-60-b-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-40-a h4:first-child,.cel-40-a-box h4:first-child,.cel-40-a-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-60-b h4:first-child,.cel-60-b-box h4:first-child,.cel-60-b-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-40-a h5:first-child,.cel-40-a-box h5:first-child,.cel-40-a-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-60-b h5:first-child,.cel-60-b-box h5:first-child,.cel-60-b-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-40-a{float:left;width:35%;padding:0 0.5%;border:0.0625em solid #F8F9FF}.cel-60-b{float:right;width:61%;padding:0 0.5%;border:0.0625em solid #F8F9FF}.cel-40-a-rule{float:left;width:35%;padding:0 0.5%;border:0.0625em solid;border-color:#F8F9FF #B0B6BE #F8F9FF #F8F9FF}.cel-60-b-rule{float:right;width:61%;padding:0 0.5%;border:0.0625em solid;border-color:#F8F9FF #F8F9FF #F8F9FF #B0B6BE}.cel-40-a-box{float:left;width:35%;padding:0 0.5%;border:0.0625em solid #B0B6BE}.cel-60-b-box{float:right;width:61%;padding:0 0.5%;border:0.0625em solid #B0B6BE}}.cel-7525-a{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-7525-b{float:right;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-7525-a-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#F8F9FF #F8F9FF #B0B6BE #F8F9FF}.cel-7525-b-rule{float:right;width:98%;padding:0 1%;border:1px solid;border-color:#B0B6BE #F8F9FF #F8F9FF #F8F9FF}.cel-7525-a-box{float:left;width:98%;padding:0 1%;border:1px solid #B0B6BE}.cel-7525-b-box{float:right;width:98%;padding:0 1%;border:1px solid #B0B6BE}@media only screen and (min-width:35em){.cel-7525-a img:first-child,.cel-7525-a-box img:first-child,.cel-7525-a-rule img:first-child{margin-top:1.4rem}.cel-7525-b img:first-child,.cel-7525-b-box img:first-child,.cel-7525-b-rule img:first-child{margin-top:1.4rem}.cel-7525-a ul:first-child,.cel-7525-a-box ul:first-child,.cel-7525-a-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-7525-b ul:first-child,.cel-7525-b-box ul:first-child,.cel-7525-b-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-7525-a ol:first-child,.cel-7525-a-box ol:first-child,.cel-7525-a-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-7525-b ol:first-child,.cel-7525-b-box ol:first-child,.cel-7525-b-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-7525-a h2:first-child,.cel-7525-a-box h2:first-child,.cel-7525-a-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-7525-b h2:first-child,.cel-7525-b-box h2:first-child,.cel-7525-b-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-7525-a h3:first-child,.cel-7525-a-box h3:first-child,.cel-7525-a-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-7525-b h3:first-child,.cel-7525-b-box h3:first-child,.cel-7525-b-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-7525-a h4:first-child,.cel-7525-a-box h4:first-child,.cel-7525-a-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-7525-b h4:first-child,.cel-7525-b-box h4:first-child,.cel-7525-b-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-7525-a h5:first-child,.cel-7525-a-box h5:first-child,.cel-7525-a-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-7525-b h5:first-child,.cel-7525-b-box h5:first-child,.cel-7525-b-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-7525-a{float:left;width:73%;padding:0 0.5%;border:0.0625em solid #F8F9FF}.cel-7525-b{float:right;width:23%;padding:0 0.5%;border:0.0625em solid #F8F9FF}.cel-7525-a-rule{float:left;width:73%;padding:0 0.5% 0 0.5%;border:0.0625em solid;border-color:#F8F9FF #B0B6BE #F8F9FF #F8F9FF}.cel-7525-b-rule{float:right;width:23%;padding:0 0.5% 0 0.5%;border:0.0625em solid;border-color:#F8F9FF #F8F9FF #F8F9FF #B0B6BE}.cel-7525-a-box{float:left;width:73%;padding:0 0.5% 0 0.5%;border:0.0625em solid #B0B6BE}.cel-7525-b-box{float:right;width:23%;padding:0 0.5% 0 0.5%;border:0.0625em solid #B0B6BE}}.cel-2575-a{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-2575-b{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-2575-a-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#F8F9FF #F8F9FF #B0B6BE #F8F9FF}.cel-2575-b-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#B0B6BE #F8F9FF #F8F9FF #F8F9FF}.cel-2575-a-box{float:left;width:98%;padding:0 1%;border:1px solid #B0B6BE}.cel-2575-b-box{float:left;width:98%;padding:0 1%;border:1px solid #B0B6BE}@media only screen and (min-width:35em){.cel-2575-a img:first-child,.cel-2575-a-box img:first-child,.cel-2575-a-rule img:first-child{margin-top:1.4rem}.cel-2575-b img:first-child,.cel-2575-b-box img:first-child,.cel-2575-b-rule img:first-child{margin-top:1.4rem}.cel-2575-a ul:first-child,.cel-2575-a-box ul:first-child,.cel-2575-a-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-2575-b ul:first-child,.cel-2575-b-box ul:first-child,.cel-2575-b-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-2575-a ol:first-child,.cel-2575-a-box ol:first-child,.cel-2575-a-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-2575-b ol:first-child,.cel-2575-b-box ol:first-child,.cel-2575-b-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-2575-a h2:first-child,.cel-2575-a-box h2:first-child,.cel-2575-a-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-2575-b h2:first-child,.cel-2575-b-box h2:first-child,.cel-2575-b-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-2575-a h3:first-child,.cel-2575-a-box h3:first-child,.cel-2575-a-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-2575-b h3:first-child,.cel-2575-b-box h3:first-child,.cel-2575-b-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-2575-a h4:first-child,.cel-2575-a-box h4:first-child,.cel-2575-a-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-2575-b h4:first-child,.cel-2575-b-box h4:first-child,.cel-2575-b-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-2575-a h5:first-child,.cel-2575-a-box h5:first-child,.cel-2575-a-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-2575-b h5:first-child,.cel-2575-b-box h5:first-child,.cel-2575-b-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-2575-a{float:left;width:23%;padding:0 0.5%;border:0.0625em solid #F8F9FF}.cel-2575-b{float:right;width:73%;padding:0 0.5%;border:0.0625em solid #F8F9FF}.cel-2575-a-rule{float:left;width:23%;padding:0 0.5%;border:0.0625em solid;border-color:#F8F9FF #B0B6BE #F8F9FF #F8F9FF}.cel-2575-b-rule{float:right;width:73%;padding:0 0.5%;border:0.0625em solid;border-color:#F8F9FF #F8F9FF #F8F9FF #B0B6BE}.cel-2575-a-box{float:left;width:23%;padding:0 0.5%;border:0.0625em solid #B0B6BE}.cel-2575-b-box{float:right;width:73%;padding:0 0.5%;border:0.0625em solid #B0B6BE}}.cel-30-a{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-30-b{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-30-c{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-30-a-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#F8F9FF #F8F9FF #B0B6BE #F8F9FF}.cel-30-b-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#B0B6BE #F8F9FF}.cel-30-c-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#B0B6BE #F8F9FF #F8F9FF #F8F9FF}.cel-30-a-box{float:left;width:98%;padding:0 1%;border:1px solid #B0B6BE}.cel-30-b-box{float:left;width:98%;padding:0 1%;border:1px solid #B0B6BE}.cel-30-c-box{float:left;width:98%;padding:0 1%;border:1px solid #B0B6BE}@media only screen and (min-width:35em){.cel-30-a img:first-child,.cel-30-a-box img:first-child,.cel-30-a-rule img:first-child{margin-top:1.4rem}.cel-30-b img:first-child,.cel-30-b-box img:first-child,.cel-30-b-rule img:first-child{margin-top:1.4rem}.cel-30-c img:first-child,.cel-30-c-box img:first-child,.cel-30-c-rule img:first-child{margin-top:1.4rem}.cel-30-a ul:first-child,.cel-30-a-box ul:first-child,.cel-30-a-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-30-b ul:first-child,.cel-30-b-box ul:first-child,.cel-30-b-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-30-c ul:first-child,.cel-30-c-box ul:first-child,.cel-30-c-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-30-a ol:first-child,.cel-30-a-box ol:first-child,.cel-30-a-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-30-b ol:first-child,.cel-30-b-box ol:first-child,.cel-30-b-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-30-c ol:first-child,.cel-30-c-box ol:first-child,.cel-30-c-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-30-a h2:first-child,.cel-30-a-box h2:first-child,.cel-30-a-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-30-b h2:first-child,.cel-30-b-box h2:first-child,.cel-30-b-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-30-c h2:first-child,.cel-30-c-box h2:first-child,.cel-30-c-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-30-a h3:first-child,.cel-30-a-box h3:first-child,.cel-30-a-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-30-b h3:first-child,.cel-30-b-box h3:first-child,.cel-30-b-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-30-c h3:first-child,.cel-30-c-box h3:first-child,.cel-30-c-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-30-a h4:first-child,.cel-30-a-box h4:first-child,.cel-30-a-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-30-b h4:first-child,.cel-30-b-box h4:first-child,.cel-30-b-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-30-c h4:first-child,.cel-30-c-box h4:first-child,.cel-30-c-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-30-a h5:first-child,.cel-30-a-box h5:first-child,.cel-30-a-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-30-b h5:first-child,.cel-30-b-box h5:first-child,.cel-30-b-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-30-c h5:first-child,.cel-30-c-box h5:first-child,.cel-30-c-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-30-a{float:left;width:48%;padding:0 1% 0 0;border:0.0625em solid #F8F9FF;margin-bottom:0.4rem}.cel-30-b{float:left;width:48%;padding:0 0 0 1%;border:0.0625em solid #F8F9FF;margin-bottom:0.4rem}.cel-30-c{float:right;width:98%;padding:0;border:0.0625em solid #F8F9FF}.cel-30-a-rule{float:left;width:48%;padding:0 1% 0 0;margin-bottom:0.4rem;border:0.0625em solid;border-color:#F8F9FF #B0B6BE #F8F9FF #F8F9FF}.cel-30-b-rule{float:left;width:48%;padding:0 0 0 1%;margin-bottom:0.4rem;border:0.0625em solid;border-color:#F8F9FF #F8F9FF #F8F9FF #B0B6BE}.cel-30-c-rule{float:right;width:98%;padding:0;border:0.0625em solid;border-color:#B0B6BE #F8F9FF #F8F9FF #F8F9FF}.cel-30-a-box{float:left;width:48%;padding:0 0.5% 0 0.5%;border:0.0625em solid #B0B6BE;margin-bottom:0.4rem}.cel-30-b-box{float:left;width:48%;padding:0 0.5% 0 0.5%;border:0.0625em solid #B0B6BE;margin-bottom:0.4rem}.cel-30-c-box{float:right;width:97%;padding:0 0.5% 0 0.5%;border:0.0625em solid #B0B6BE}}@media only screen and (min-width:49.5em){.cel-30-a{float:left;width:31.1%;padding:0 0.5%;margin-right:0.66%;border:0.0625em solid #F8F9FF}.cel-30-b{float:left;width:30.8%;padding:0 0.5%;margin-left:1%;border:0.0625em solid #F8F9FF}.cel-30-c{float:right;width:31.1%;padding:0 0.5%;border:0.0625em solid #F8F9FF}.cel-30-a-rule{float:left;width:31.1%;padding:0 0.5%;margin-right:0.66%;border:1px solid;border-color:#F8F9FF #B0B6BE #F8F9FF #F8F9FF}.cel-30-b-rule{float:left;width:30.8%;padding:0 0.5%;margin-left:1%;border:1px solid;border-color:#F8F9FF #B0B6BE}.cel-30-c-rule{float:right;width:31.1%;padding:0 0.5%;border:1px solid;border-color:#F8F9FF #F8F9FF #F8F9FF #B0B6BE}.cel-30-a-box{float:left;width:31.1%;padding:0 0.5%;margin-right:0.66%;border:1px solid #B0B6BE}.cel-30-b-box{float:left;width:30.8%;padding:0 0.5%;margin-left:1%;border:1px solid #B0B6BE}.cel-30-c-box{float:right;width:31.1%;padding:0 0.5%;border:1px solid #B0B6BE}}.cel-25-a{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-25-b{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-25-c{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-25-d{float:left;width:98%;padding:0 1%;border:1px solid #F8F9FF}.cel-25-a-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#F8F9FF #F8F9FF #B0B6BE #F8F9FF}.cel-25-b-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#B0B6BE #F8F9FF}.cel-25-c-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#B0B6BE #F8F9FF}.cel-25-d-rule{float:left;width:98%;padding:0 1%;border:1px solid;border-color:#B0B6BE #F8F9FF #F8F9FF #F8F9FF}.cel-25-a-box{float:left;width:98%;padding:0 1%;border:1px solid #B0B6BE}.cel-25-b-box{float:left;width:98%;padding:0 1%;border:1px solid #B0B6BE}.cel-25-c-box{float:left;width:98%;padding:0 1%;border:1px solid #B0B6BE}.cel-25-d-box{float:left;width:98%;padding:0 1%;border:1px solid #B0B6BE}@media only screen and (min-width:35em){.cel-25-a img:first-child,.cel-25-a-box img:first-child,.cel-25-a-rule img:first-child{margin-top:1.4rem}.cel-25-b img:first-child,.cel-25-b-box img:first-child,.cel-25-b-rule img:first-child{margin-top:1.4rem}.cel-25-c img:first-child,.cel-25-c-box img:first-child,.cel-25-c-rule img:first-child{margin-top:1.4rem}.cel-25-d img:first-child,.cel-25-d-box img:first-child,.cel-25-d-rule img:first-child{margin-top:1.4rem}.cel-25-a ul:first-child,.cel-25-a-box ul:first-child,.cel-25-a-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-25-b ul:first-child,.cel-25-b-box ul:first-child,.cel-25-b-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-25-c ul:first-child,.cel-25-c-box ul:first-child,.cel-25-c-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-25-d ul:first-child,.cel-25-d-box ul:first-child,.cel-25-d-rule ul:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-25-a ol:first-child,.cel-25-a-box ol:first-child,.cel-25-a-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-25-b ol:first-child,.cel-25-b-box ol:first-child,.cel-25-b-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-25-c ol:first-child,.cel-25-c-box ol:first-child,.cel-25-c-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-25-d ol:first-child,.cel-25-d-box ol:first-child,.cel-25-d-rule ol:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-25-a h2:first-child,.cel-25-a-box h2:first-child,.cel-25-a-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-25-b h2:first-child,.cel-25-b-box h2:first-child,.cel-25-b-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-25-c h2:first-child,.cel-25-c-box h2:first-child,.cel-25-c-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-25-d h2:first-child,.cel-25-d-box h2:first-child,.cel-25-d-rule h2:first-child{margin-top:1rem;margin-bottom:1.5rem}.cel-25-a h3:first-child,.cel-25-a-box h3:first-child,.cel-25-a-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-25-b h3:first-child,.cel-25-b-box h3:first-child,.cel-25-b-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-25-c h3:first-child,.cel-25-c-box h3:first-child,.cel-25-c-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-25-d h3:first-child,.cel-25-d-box h3:first-child,.cel-25-d-rule h3:first-child{margin-top:0.65rem;margin-bottom:1.85rem}.cel-25-a h4:first-child,.cel-25-a-box h4:first-child,.cel-25-a-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-25-b h4:first-child,.cel-25-b-box h4:first-child,.cel-25-b-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-25-c h4:first-child,.cel-25-c-box h4:first-child,.cel-25-c-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-25-d h4:first-child,.cel-25-d-box h4:first-child,.cel-25-d-rule h4:first-child{margin-top:0.5rem;margin-bottom:2rem}.cel-25-a h5:first-child,.cel-25-a-box h5:first-child,.cel-25-a-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-25-b h5:first-child,.cel-25-b-box h5:first-child,.cel-25-b-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-25-c h5:first-child,.cel-25-c-box h5:first-child,.cel-25-c-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-25-d h5:first-child,.cel-25-d-box h5:first-child,.cel-25-d-rule h5:first-child{margin-top:0.4rem;margin-bottom:2.1rem}.cel-25-a{float:left;width:48%;padding:0 1% 0 0;border:0.0625em solid #F8F9FF}.cel-25-b{float:left;width:48%;padding:0 0 0 1%;border:0.0625em solid #F8F9FF}.cel-25-c{float:left;width:48%;padding:0;border:0.0625em solid #F8F9FF}.cel-25-d{float:right;width:48%;padding:0 1.4% 0 0;border:0.0625em solid #F8F9FF}.cel-25-a-rule{float:left;width:48%;padding:0 1% 0 0;border:0.0625em solid;border-color:#F8F9FF #B0B6BE #F8F9FF #F8F9FF}.cel-25-b-rule{float:left;width:48%;padding:0 0 0 1%;border:0.0625em solid;border-color:#F8F9FF #F8F9FF #F8F9FF #B0B6BE}.cel-25-c-rule{float:left;width:48%;padding:0;border:0.0625em solid;border-color:#B0B6BE #F8F9FF #F8F9FF #F8F9FF}.cel-25-d-rule{float:left;width:48%;padding:0 1.5% 0 0;border:0.0625em solid;border-color:#B0B6BE #F8F9FF #F8F9FF #F8F9FF}.cel-25-a-box{float:left;width:48%;padding:0 0.5%;border:0.0625em solid #B0B6BE}.cel-25-b-box{float:left;width:48%;padding:0 0.5%;border:0.0625em solid #B0B6BE}.cel-25-c-box{float:left;width:48%;padding:0 0.5%;border:0.0625em solid #B0B6BE}.cel-25-d-box{float:left;width:48%;padding:0 1.5% 0 0;border:0.0625em solid #B0B6BE}}@media only screen and (min-width:59.375em){.cel-25-a{float:left;width:23.5%;padding:0 0.5% 0 0.5%;border:1px solid #F8F9FF;margin-bottom:1.5rem}.cel-25-b{float:left;width:23.5%;padding:0 0.5% 0 0.5%;border:1px solid #F8F9FF;margin-bottom:1.5rem}.cel-25-c{float:left;width:23.5%;padding:0 0.5% 0 0.5%;border:1px solid #F8F9FF;margin-bottom:1.5rem}.cel-25-d{float:right;width:23.5%;padding:0 1.5% 0 0;border:1px solid #F8F9FF;margin-bottom:1.5rem}.cel-25-a-rule{float:left;width:23.5%;padding:0 0.5% 0 0.5%;margin-bottom:1.5rem;border:1px solid;border-color:#F8F9FF #B0B6BE #F8F9FF #F8F9FF}.cel-25-b-rule{float:left;width:23.5%;padding:0 0.5% 0 0.5%;margin-bottom:1.5rem;border:1px solid;border-color:#F8F9FF #B0B6BE}.cel-25-c-rule{float:left;width:23.5%;padding:0 0.5% 0 0.5%;margin-bottom:1.5rem;border:1px solid;border-color:#F8F9FF #B0B6BE}.cel-25-d-rule{float:left;width:23.5%;padding:0 1.5% 0 0.5%;margin-bottom:1.5rem;border:1px solid;border-color:#F8F9FF #F8F9FF #F8F9FF #B0B6BE}.cel-25-a-box{float:left;width:23.5%;padding:0 0.5% 0 0.5%;border:1px solid #B0B6BE;margin-bottom:1.5rem}.cel-25-b-box{float:left;width:23.5%;padding:0 0.5% 0 0.5%;border:1px solid #B0B6BE;margin-bottom:1.5rem}.cel-25-c-box{float:left;width:23.5%;padding:0 0.5% 0 0.5%;border:1px solid #B0B6BE;margin-bottom:1.5rem}.cel-25-d-box{float:left;width:23.5%;padding:0 1.5% 0 0.5%;border:1px solid #B0B6BE;margin-bottom:1.5rem}}.is-card{background-color:white;border-color:white;-webkit-box-shadow:0 0.125em 0.0625em #727272;box-shadow:0 0.125em 0.0625em #727272}.is-card .cel-100,.is-card .cel-25-a,.is-card .cel-25-b,.is-card .cel-25-c,.is-card .cel-25-d,.is-card .cel-2575-a,.is-card .cel-2575-b,.is-card .cel-30-a,.is-card .cel-30-b,.is-card .cel-30-c,.is-card .cel-40-a,.is-card .cel-40-b,.is-card .cel-50-a,.is-card .cel-50-b,.is-card .cel-60-a,.is-card .cel-60-b,.is-card .cel-7525-a,.is-card .cel-7525-b{border-color:transparent}.is-card-dark{background-color:#ccd0d5;border-color:#ccd0d5;-webkit-box-shadow:0 0.125em 0.0625em #727272;box-shadow:0 0.125em 0.0625em #727272}.cel-row[class=is-card-dark],.cel-row[class=is-card],.is-card-dark .cel-100,.is-card-dark .cel-25-a,.is-card-dark .cel-25-b,.is-card-dark .cel-25-c,.is-card-dark .cel-25-d,.is-card-dark .cel-2575-a,.is-card-dark .cel-2575-b,.is-card-dark .cel-30-a,.is-card-dark .cel-30-b,.is-card-dark .cel-30-c,.is-card-dark .cel-40-a,.is-card-dark .cel-40-b,.is-card-dark .cel-50-a,.is-card-dark .cel-50-b,.is-card-dark .cel-60-a,.is-card-dark .cel-60-b,.is-card-dark .cel-7525-a,.is-card-dark .cel-7525-b{border-color:#ccd0d5}@media only screen and (min-width:35em){}.cel-row{float:left;width:99%;margin:0 0 1.9rem 0;padding:0}.cel-divider{float:left;width:100%;height:0.125em}@media only screen and (min-width:35em){.cel-row{float:left;width:99%;margin:0 0 1.9rem 0;padding:0}.cel-divider{float:left;width:100%;height:0.125em}}