 <!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ian Vanhoof's Website</title>
        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">


        <link rel="stylesheet" href="/assets/main-ian.css">
    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <header id="header">
            
            <h1 id="main_header"><span class="header_anim">On This Day:</span><br />{{ page.date | date: "%A %b %-d, %Y" }}</h1>
            
            <div id="dynamic-button-container">
                    <a href="{{site.url}}/index.html" class="dynamic-button">home&hellip;</a>
              
                
            </div>
            
            
            </header><!-- /header -->
            
            <section id="wrapper">
                {{ content }}
                </section><!-- / wrapper -->
                <footer>
                    <p>
                        All Rights Reserved.<br>Copyright Ian Vanhoof 2025
                    </p>
                </footer>
            </body>
        </html>