<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="https://use.typekit.net/mvy3ueg.css">
    <link rel="stylesheet" href="{{site.url}}/assets/main.css">
</head>
<body>
    <p class="breadcrumb"><a href="{{site.url}}">Home Please...</a></p>
    <article>
        
        <h1>
            <span class="post-header">On This Day:</span><br />{{ page.date | date: "%A %b %-d, %Y %H:%M" }}</h1>
        <section id="content-area">
            {{ content }}
        </section>
    </article>
</body>
</html>