<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ian Vanhoof's Website</title>
        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/assets/main-type.css">
    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <header id="header">
            {% if page.button == 'about-me' %}
                <h1 id="main_header">Ian <span class="header_anim">Vanhoof</span></h1>

                {% elsif page.button == 'home' %}
                <h1>Recent Work</h1>
            {% endif %}
            
            <div id="dynamic-button-container">
                
                
                {% if page.button == 'about-me' %}
                    <a href="about-me.html" class="dynamic-button">my work&hellip;</a>
                    {% elsif page.button == 'home' %}
                    <a href="index.html" class="dynamic-button">home&hellip;</a>
                {% endif %}
                
            </div>
            
            
            </header><!-- /header -->
            
                <p>
                    {% if page.button == 'about-me' %}
                    <em>
                    This is where I think out loud. 
                    </em>
                    {% endif %}
                </p>
                
            <section id="wrapper">
                {{ content }}
                </section><!-- / wrapper -->
                <footer>
                    {% if page.button == 'about-me' %}
                    <a href="#header" title="link to top of page"><p>back to top</p></a>
                <p>
                        All rights reserved. Copyright Ian Vanhoof 2025
                    </p>
                {% elsif page.button == 'home' %}
                <a href="#header" title="link to top of page"><p>back to top</p></a>
            {% endif %}
                    
                </footer>
            </body>
        </html>